<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="brief" value="[${longdate}][${level}] ${message}"/>
  <targets>
    <target name="file" xsi:type="File" layout="${brief}" fileName="${basedir}/${shortdate}.log" />
    <target name="console" xsi:type="Console" layout="${brief}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
