<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <providers>
    <provider name="SqlServer"
       description="Microsoft SQL Server"
       enabled="true"
       assemblyName="System.Data"
       connectionClass="System.Data.SqlClient.SqlConnection"
       commandBuilderClass=" System.Data.SqlClient.SqlCommandBuilder"
       commandClass="System.Data.SqlClient.SqlCommand"
       dataAdapterClass="System.Data.SqlClient.SqlDataAdapter"
       parameterDbTypeClass="System.Data.SqlDbType"
       parameterPrefix="@"
       allowMARS="true"
       usePositionalParameters = "false"
       useParameterPrefixInSql = "true"
       useParameterPrefixInParameter = "true"
    />
    <provider name="OleDb"
      description="OleDb"
      enabled="true"
      assemblyName="System.Data"
      connectionClass="System.Data.OleDb.OleDbConnection"
      commandBuilderClass="System.Data.OleDb.OleDbCommandBuilder"
      commandClass="System.Data.OleDb.OleDbCommand"
      dataAdapterClass="System.Data.OleDb.OleDbDataAdapter"
      parameterDbTypeClass="System.Data.OleDb.OleDbType"
      parameterPrefix=""
      allowMARS="false"
      usePositionalParameters="true"
      useParameterPrefixInSql="false"
      useParameterPrefixInParameter="false"
    />
    <provider name="Oracle"
      description="Oracle"
      enabled="false"
      assemblyName="Oracle.DataAccess"
      connectionClass="Oracle.DataAccess.Client.OracleConnection"
      commandBuilderClass="Oracle.DataAccess.Client.OracleCommandBuilder"
      commandClass="Oracle.DataAccess.Client.OracleCommand"
      dataAdapterClass="Oracle.DataAccess.Client.OracleDataAdapter"
      parameterDbTypeClass="Oracle.DataAccess.Client.OracleDbType"
      parameterPrefix=":"
      allowMARS="false"
      usePositionalParameters="true"
      useParameterPrefixInSql="true"
      useParameterPrefixInParameter="true"
    />
  </providers>
</configuration>